* {
  margin: 0;
  padding: 0;
}

.main-title{
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.square {
  border: solid 1px black;
  height: 100%;
  width: 100%;
}

.board-container {
  display: grid;
  grid-template-rows: repeat(3, 50px);
  justify-content: center;
}

.row-container {
  display: grid;
  grid-template-columns: repeat(3, 50px);
}